<h2>Gett - Business Analysis - Insights from Failed Orders</h2>

<h4>Problem Statement:</h4>

Gett, previously known as GetTaxi, is an Israeli-developed technology platform solely focused on corporate Ground Transportation Management (GTM). They have an application where clients can order taxis, and drivers can accept their rides (offers). At the moment, when the client clicks the Order button in the application, the matching system searches for the most relevant drivers and offers them the order. In this task, we would like to investigate some matching metrics for orders that did not completed successfully, i.e., the customer didn't end up getting a car.

<h4>Assignment:</h4>

Please complete the following tasks.

 - Build up distribution of orders according to reasons for failure: cancellations before and after driver assignment, and reasons for order rejection. Analyse the resulting plot. Which category has the highest number of orders?
 - Plot the distribution of failed orders by hours. Is there a trend that certain hours have an abnormally high proportion of one category or another? What hours are the biggest fails? How can this be explained?
 - Plot the average time to cancellation with and without driver, by the hour. If there are any outliers in the data, it would be better to remove them. Can we draw any conclusions from this plot?
 - Plot the distribution of average ETA by hours. How can this plot be explained?
 - BONUS Hexagons. Using the h3 and folium packages, calculate how many sizes 8 hexes contain 80% of all orders from the original data sets and visualise the hexes, colouring them by the number of fails on the map.

<h4>Data Description:</h4>

We have two data sets: data_orders and data_offers, both being stored in a CSV format. The data_orders data set contains the following columns:

 - order_datetime - time of the order
 - origin_longitude - longitude of the order
 - origin_latitude - latitude of the order
 - m_order_eta - time before order arrival
 - order_gk - order number
 - order_status_key - status, an enumeration consisting of the following mapping:
    - 4 - cancelled by client,
    - 9 - cancelled by system, i.e., a reject
 - is_driver_assigned_key - whether a driver has been assigned
 - cancellation_time_in_seconds - how many seconds passed before cancellation
 - 
The data_offers data set is a simple map with 2 columns:

 - order_gk - order number, associated with the same column from the orders data set
 - offer_id - ID of an offer

In [1]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# read the csv dataset
orders = pd.read_csv("archive/data_orders.csv")
offers = pd.read_csv("archive/data_offers.csv")

In [3]:
# let's check some few records from datasets
orders.head()

,order_datetime,origin_longitude,origin_latitude,m_order_eta,order_gk,order_status_key,is_driver_assigned_key,cancellations_time_in_seconds
0,18:08:07,-0.978916,51.456173,60.0,3000583041974,4,1,198.0
1,20:57:32,-0.950385,51.456843,NaN,3000583116437,4,0,128.0
2,12:07:50,-0.969520,51.455544,477.0,3000582891479,4,1,46.0
3,13:50:20,-1.054671,51.460544,658.0,3000582941169,4,1,62.0
4,21:24:45,-0.967605,51.458236,NaN,3000583140877,9,0,NaN

In [4]:
offers.head()

        order_gk      offer_id
0  3000579625629  300050936206
1  3000627306450  300052064651
2  3000632920686  300052408812
3  3000632771725  300052393030
4  3000583467642  300051001196